<%= form_with(model: post, remote: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <h3>Nuevo Post</h3>

    <div class="field">
      <%= form.text_field :title, size:'25px', placeholder:'Título' %>
    </div>

    <div class="field">
      <%= form.text_field :content, size:'25px', placeholder:'Contenido' %>
    </div>

    <div class="actions">
      <%= form.submit 'Crear Post',class:'btn btn-primary' %>
    </div>
  </div>

<% end %>
